
@media screen and (max-width: 420px) {

  .row {
    max-width: 100%;
  }

  .row img {
    max-width: 100%;
  }

  #lezioni .row > .left,
  #lezioni .row > .right,
  #steps .row > .left,
  #steps .row > .central,
  #steps .row > .right {
    float: none;
    width: 100%;
    margin-bottom: 20px;
  }
}
